body {
    margin: 0;
    padding: 0;
}

#header,
#main,
#footer {
    overflow: scroll;
}

#body-wrapper {
    background-color: lightblue;
    /* border: 1px solid red; */
    height: 100vh;
    z-index: 1;
}

#header {
    background-color: gray;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 7%;
    z-index: 2;
}

#navbar {
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 0.75rem;
}

#navbar a:hover {
    background-color: darkgrey;
    font-weight: 500;
}

#navbar a:first-child {
    background-color: darkgrey;
    font-weight: 500;
}

#main {
    border: 1px solid rgb(0, 243, 0);
    display: flex;
    height: 85%;
    z-index: 2;
}

#sidebar-wrapper {
    background-color: yellow;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    max-width: 100%;
    height: 100%;
    z-index: 3;
}

#sidebar {
    display: block;
}

#sidebar a {
    color: blueviolet;
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    width: fit-content;
}

#content {
    background-color: green;
    /* border: 1px solid aqua; */
    width: 90%;
    height: 100%;
    z-index: 3;
}

#footer {
    background-color: gray;
    /* border: 1px solid blue; */
    min-height: 7%;
    z-index: 2;
}

@media (max-width: 600px) {
    #header {
        display: block;
        height: auto;
    }

    #navbar {
        display: block;
    }
}